body{
    background-image: linear-gradient(
        rgb(59,88,93),
        rgb(29,40,42)
    );
    
    min-height: 100vh;
    color: white;
    font-family:sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
button{
    background-color: inherit;
    color: inherit;
    border: none;
}
#below-cover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0
}
#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    
.button{
    font-size: 1.5em;
    cursor: pointer;  /*mostra que dá para clicar tranforma o cursor numa mãozinha*/
}
.button-navigate {
    font-size: 3em;
}
.button-biggest {
    font-size: 4em;
}
#cover{
    width: 450px;

}
#playlist-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}
#song-name{
    font-size: 2.5em;
    font-weight: bolder;
}
.light-color{
    color: rgb(139,153,156);
}
#progress-bar{
    background-color:  rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
       
}
#current-progress{
    --progress: 0%; /*os dois -- sinaliza que é uma variável*/
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container{
   cursor: pointer;


  
}

.button-active {
    color: rgb(0, 182, 107); /* cor verde para os botões de Shuffle e 
    Repeat*/
}
.like-active {
    color: red; /* vermelho só para o botão de Like */
}

#time-box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;

}


